# CodeIgniter 4 Files
/writable/cache/*
/writable/debugbar/*
/writable/logs/*
/writable/session/*
!/writable/.gitkeep
!/writable/*/index.html
!/writable/*/.gitkeep
/vendor/
/.env
/public/uploads/*
!/public/uploads/.gitkeep

# Node.js Files
/node_modules/
npm-debug.log
yarn-error.log

# IDE Files
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db
